<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="playercontainer"></div>
<script type="text/javascript" src="{% static 'videojs/cyberplayer.js' %}"></script>
<script type="text/javascript">
    var player = cyberplayer("playercontainer").setup({
        width: 960, // 宽度，也可以支持百分比(不过父元素宽度要有)
        height: 540, // 高度，也可以支持百分比
        title: "基本功能", // 标题
        file: "http://cyberplayer.bcelive.com/videoworks/mda-kbuhu4wqdi08dwix/cyberplayer/mp4/cyberplayer-demo.mp4", // 播放地址
        image: "http://cyberplayer.bcelive.com/thumbnail.jpg", // 预览图
        autostart: false, // 是否自动播放
        stretching: "uniform", // 拉伸设置
        repeat: false, // 是否重复播放
        volume: 100, // 音量
        controls: true, // controlbar是否显示
        starttime: 0, // 视频开始播放时间点(单位s)，如果不设置，则可以从上次播放时间点续播
        logo: { // logo设置
            linktarget: "_blank",
            margin: 8,
            hide: false,
            position: "top-right", // 位置
            file: "./img/logo.png" // 图片地址
        },
        ak: "xxxxxxxxxxxxxxxx" // 公有云平台注册即可获得accessKey
    });
</script>
</body>
</html>